.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.border__class {
  border-style: solid;
  width: fit-content;
}
.border__div {
  border-style: groove;
}
table{
  border-collapse: collapse;
  table-layout: fixed;
}
table, th, td {
  border: 1px solid black;
}
tr, td{
  height: 24px;
  width: 24px;
}
.fn__sz{
  font-size: 20px;
}
