<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>Assignment 1 (Create a game)</h1>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput type="number" [(ngModel)] = "height" name="height" placeholder="Height">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="number" [(ngModel)] = "width" name="width" placeholder="Width">
  </mat-form-field>
<button mat-button color="primary" (click)="genrateLayout()" [disabled]="!(height && width) && (gameLayout.length < 1)">Start</button>
  <button mat-button color="warn" (click)="deconstruct()">Reset</button>
</form>
  Steps:<span class="fn__sz">{{numberOfSteps}}</span> , Game Status:<span class="fn__sz" [ngStyle]="{'color':gameOverMsg === 'Game Inprogress...' ? 'red' : 'green'}"> {{gameOverMsg}}</span>

<table (keyup)="calculate($event)">
  <tr *ngFor="let first of gameLayout">
    <td *ngFor="let sec of first">
      <mat-icon color="warn"  *ngIf="sec.red">mood</mat-icon>
      <mat-icon  *ngIf="sec.green">mood_bad</mat-icon>
    </td>
  </tr>
</table>
</div>

